.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: white;
  width: 50%;
}

.nav__link {
  color: black;
  text-decoration: none;
  margin: 0 0.4rem;
  padding: 1rem;
}

.nav__link:hover {
  color: $green;
}

.nav__link:visited {
  color: black;
}

.nav__link--active {
  font-weight: bold;
}

/* Toggle button for smaller screens */
.nav__toggle {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1001;
}

/* Make the links hidden initially in mobile */
.nav__links {
  display: flex;
}

.nav__links--open {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .nav {
    width: auto;
  }
  
  /* Make nav links stack vertically when menu is open */
  .nav__links {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    padding: 1rem 0;
    justify-content: center;
    align-items: center;
  }

  /* Show the links when menu is toggled */
  .nav__links--open {
    display: flex;
  }

  /* Display the toggle button (hamburger) */
  .nav__toggle {
    display: flex;
    align-items: center;
    color: $green;
    font-size: $ml-size;
  }

  .nav__link {
    margin: 0.5rem 0;
    padding: 1rem;
    font-size: $l-size;
    width: 100%;
  }

}
